<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <title>{{ page.title }}</title>


   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>


<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

    <header>
      <div class="container">
        <h1>Testrepo</h1>
        <h2>test repo of github pages</h2>

        <section id="downloads">
          <a href="https://github.com/phpmatsuri/testrepo/zipball/master" class="btn">Download as .zip</a>
          <a href="https://github.com/phpmatsuri/testrepo/tarball/master" class="btn">Download as .tar.gz</a>
          <a href="https://github.com/phpmatsuri/testrepo" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>
 
    {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        testrepo<br />
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/phpmatsuri/">github.com/phpmatsuri</a><br />
      </p>
    </div>
    <div class="rss">

    </div>
  </div>
</div>


</body>
</html>
